@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
  }
  
  .navbar {
    padding: 20px 0;
    letter-spacing: 0.5px;
  } 
  
  .navbar-title i {
    padding-right: 12px;
    color: #015ce6;
  }

  .navbar-brand {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #262626;
    letter-spacing: 3px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 600;
  }
  
  .nav-item {
    font-weight: 600;
    color: #252525;
    font-size: 1em;
  }
  
  .nav-link:hover {
    color: #b02db4 !important;
    transition: 0.3s;
  }

  .dropdown {
    font-weight: 600;
    color: #666;
  }
  
  .dropdown:hover {
    color: #b02db4;
  }
  
  .dropdown-item {
    color: #666;
  }
  
  .jumbotron {
    background-color: #7000d8;
    border-radius: 0;
    height: 350px;
  }

  .form-control-borderless {
    border: none;
}

.heading {
    margin-left: 40px;
    font-size: 22px;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-lg:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 20px;
}
  
  @media (max-width: 767px) {

    .caption h1{
      font-size: 2.3rem;
      padding-bottom: 15px;
    }
    
    .caption h3{
      font-size: 1.2rem;
      padding-bottom: 1.2rem;
    }
    
    .btn-lg{
      padding: .5rem 1rem;
      font-size: 1rem;
    }
  
    .narrow h1 {
      font-size: 1.5rem;
    }
  
    .card .img3 {
      height: 120px;
    }
  
    .home-wrap {
      width: 100%;
      height: 400px;
      background-size: 100%;
    }
  }